img {
  width: 100%;
  display: block;
}

.landing {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
}

​
.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}
​
.btn:focus {
  outline: 0.5rem auto #4d90fe;
}
.username {
  font-weight: 600;
  vertical-align: middle;
  display: inline;
  font-size: 12px;
  padding-left: 8px;
}
.header {
  border: 0px solid #000;
  margin-bottom: 10%;
}
​
.header img {
  width: 70%;
  margin: auto;
  position: relative;
}
input {
  width: 100%;
  height: 38px;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}
.signup-link {
  text-decoration: none;
  cursor: pointer;
  color: #3897f0;
  font-weight: bold;
}
​
.signup{
    margin-top: 5px;
}
​
input:focus {
    background-color: #ffffff;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 0px solid #000;
  margin: 40px auto;
}
.main-content {
  width: 350px;
  height: 70%;
  margin: 10px auto;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 30px 50px;
}
​
.username-caption {
    font-weight: 600;
    vertical-align: middle;
    display: inline;
    font-size: 12px;
    margin-right: 5px;
  }
  .fogot-pass{
    text-align: center;
    padding-top: 40px;
    font-size: 12px;
    font-weight: normal;
    color: blue;
  }
  .pass-link{
    text-decoration: none;
    font-weight: normal;
    color: #4267b2;
  }
  ​
  .sub-content {
    width: 350px;
    height: 10%;
    margin: 10px auto;
    border: 1px solid #e6e6e6;
    padding: 20px 50px;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
  }
  ​
  .signup-link {
    text-decoration: none;
    cursor: pointer;
    color: #3897f0;
    font-weight: bold;
  }
  ​
  .signup{
      margin-top: 5px;
      color: black;
  }
  ​
  input:focus {
      background-color: #ffffff;
  }
  /* src/components/Nav/Nav.css */
i.Nav {
  background-color: #ccc;
  border-bottom: 1px solid rgba(1, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 77px;
}
.Nav-menus {
  display: flex;
  flex-direction: row;
  height: 77px;
  width: 70%;
  margin: 0 auto;
  padding: 26px 40px;
}
.Nav-brand-logo {
  display: block;
  background-position: -176px 0px;
  background-image: url('./img/sprite.jpg');
  background-size: 405px 379px;
  background-repeat: no-repeat;
  height: 35px;
  width: 176px;
  text-indent: -1000%
}
html {
  background: #e6e9e9;
  background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
  color: #545454;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
  padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: 600;
  line-height: 1.3;
}

h2 {
  margin-top: 1.3em;
}

a {
  color: #0083e8;
}

b, strong {
  font-weight: 600;
}

samp {
  display: none;
}

img {
  animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
  background: transparent;
  border: 10px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: block;
  margin: 1.3em auto;
  max-width: 95%;
}

@keyframes colorize {
  0% {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  }
  100% {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
  }
}
  