/* &&&&&&&&&&&&& FEED &&&&&&&&&&&&&&&&&&&& */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');

body {
font-family: 'Fira Sans', sans-serif;
margin: 0;  
}


.page-icon-container {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 15%;
}

.page-icon-container img {
vertical-align: middle;
}

.logo-container {
  display: inline-block;
  vertical-align: middle;
}





.post-contanier{
  padding-top: 25px;
  max-width: 600px;
  min-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post {
  background-color: #ffffff;
  border: 0.5px solid #e0e0e0;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
    
.post-header {
padding: 8px 12px;
}

.post-header img {
border-radius: 50%;
display: inline;
vertical-align: middle;
width: 35px;
}

.username {
font-weight: 600;
vertical-align: middle;
display: inline;
font-size: 12px;
padding-left: 8px;
}

.more-options {
  background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
  background-position: -78px -210px;
  float: right;
  height: 24px;
  width: 24px;
  margin-top: 6px;
  vertical-align: middle;
  display: inline;
}

.post-container img {
width: 100%;
}

.post-bottom {
padding: 12px 12px 0px 12px;  
}

.like-icon {
  background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
  background-repeat: no-repeat;
  background-position: -72px -138px;
  display: inline;
  float: left;
  height: 24px;
  margin-right: 20px;
  width: 24px;  
}

.comment-icon {
  background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
  background-repeat: no-repeat;
  background-position: -184px -52px;
  display: inline;
  float: left;
  height: 24px;
  vertical-align: middle;
  width: 24px;   
}

.bookmark-icon {
  background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
  background-repeat: no-repeat;
  background-position: -182px -184px;
  display: inline;
  float: right;
  height: 24px;
  vertical-align: middle;
  width: 24px;   
}

.likes {
  font-weight: 600;
  padding-top: 35px;
  padding-bottom: 8px;
  text-align: left;
}

.username-caption {
  font-weight: 600;
  vertical-align: middle;
  display: inline;
  font-size: 12px;
  margin-right: 5px;
}


.timestamp {
font-size: 8px;
text-transform: uppercase;
padding-top: 8px;
padding-bottom: 10px;
color: grey;
}

.input-contanier{
  padding-top: 3px;
  border-top: 0.5px solid #e7e7e7;
}

.comment-input{
  border: none;
  width: 99%;
  margin-left: 5px;
  height: 35px;
}

input:focus {
  border-color: yellow;
}




