/* &&&&&&&&&&&&& FEED &&&&&&&&&&&&&&&&&&&& */



body {
font-family: 'Fira Sans', sans-serif;
margin: 0;  
}


.page-icon-container {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 15%;
}

.page-icon-container img {
vertical-align: middle;
}

.logo-container {
  display: inline-block;
  vertical-align: middle;
}


.post-contanier{
  padding: 75px 15px 0 15px;
  max-width: 70%;
  min-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-img{
  height:600px;
  object-fit:cover;
}

.post {
  background-color: #ffffff;
  border: 0.5px solid #e0e0e0;
  margin-bottom: 60px;
}
    
.post-header {
padding: 12px 12px;
}

.post-header img {
border-radius: 50%;
display: inline;
vertical-align: middle;
width: 35px;
}

.username {
font-weight: 600;
vertical-align: middle;
display: inline;
font-size: 14px;
padding-left: 15px;
}

.post-delete {
  float: right;
  font-size: 20px;
  margin-top: 4px;
  margin-right: 10px;
  color: #c5c5c5;
  vertical-align: middle;
  display: inline;
}

.post-delete:hover {
  color: #ff5c5c;
}

.col-8 {
  padding: 0;
}

.post-container img {
width: 100%;
}

.post-bottom {
padding: 8px 12px 0px 12px;  
}

.like-icon {
  display: inline;
  float: left;
  height: 24px;
  margin-right: 20px;
  width: 24px;  
  font-size: 26px;
  color: #464646;
}

.red-heart{
  color: #ff5c5c;
}

.comment-icon {
  display: inline;
  float: left;
  height: 24px;
  vertical-align: middle;
  width: 24px;  
  font-size: 26px; 
  color: #464646;
}

.bookmark-icon {
  display: inline;
  float: right;
  height: 24px;
  vertical-align: middle;
  width: 24px;  
  font-size: 26px; 
  color: #464646;
}

.likes {
  font-weight: 600;
  font-size: 13px;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: left;
}

.comments {
  font-weight: 600;
  font-size: 13px;
  padding-top: 0px;
  padding-bottom: 8px;
  text-align: left;
  color: #464646;
}

.username-caption {
  font-weight: 600;
  vertical-align: middle;
  display: inline;
  font-size: 14px;
  margin-right: 5px;
}

.post-caption {
  font-size: 14px;
  vertical-align: middle;
  display: inline;
}

.timestamp {
font-size: 10px;
text-transform: uppercase;
padding-top: 5px;
padding-bottom: 10px;
color: #8a8a8a;
}

.input-contanier{
  padding-top: 8px;
  border-top: 0.5px solid #e7e7e7;
}

.comment-input{
  display: inline;
  border: none;
  width: 99%;
  margin-left: 5px;
  height: 20px;
  font-size: 14px;
}

input:focus {
  border-color: yellow;
}

.post-button {
  font-size: 14px;
  margin-right: 15px;
  font-weight: 600;
  color: #0095f6;
}

.side-bar-header{
 padding: 0 25px 0 25px;
}

.side-bar-header img {
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
  max-width: 55px;
  }




